<header class="header" style="color:white;margin-top:-20px;padding-bottom:300px;background-image: url('/images/bg.jpg');background-position: center;-webkit-background-size: cover">
<%= favicon_link_tag '/images/favicon.ico' %>
      <div class="container text-center">        
            <div class="col-sm-offset-1 col-sm-10">
              <div class="site-heading">
                   <script src="https://use.fontawesome.com/57a1cd7064.js"></script>
              </div>
            </div>
          </div>
        
    </header>

<%= link_to 'New About', new_about_path %>


