<header class="header" style="color:white;margin-top:-20px;padding-bottom:300px;background-image: url('/images/bg2.jpg');background-position: center;-webkit-background-size: cover">
	<div class="container text-center">        
    	<div class="col-sm-offset-1 col-sm-10">
        	<div class="site-heading">
             </div>
		</div>
    </div>        
</header>
<div class="col-sm-6 col-sm-offset-3 col-xs-12">
  <h2 class="text-center"><%= @about.title %></h2>
  <div><%= raw @about.body %></div>
<% if admin_signed_in? %>
		<%= link_to "Edit", edit_about_path(@about), class: "btn btn-default" %>

  <% end %>

</div>

 <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                
              </li>
            </ul>
            <a href="https://www.xing.com/profile/David_Wegener3?sc_o=mxb_p"><i class="fa fa-xing-square fa-2x" style="color:#333333" aria-hidden="false"></i></a> <a href="https://www.linkedin.com/in/david-wegener-0bb263100/"><i class="fa fa-linkedin-square fa-2x" style="color:#333333" aria-hidden="false"></i></a> <a href="  https://github.com/wegeneda"><i class="fa fa-github-square fa-2x" style="color:#333333" aria-hidden="false"></i></a>
            <p class="copyright text-muted">Copyright &copy;2017 wepunkt CMS on rails</p>
          </div>
        </div>
      </div>
    </footer>


